[data-theme=dark] {
  color: #bebebe;
  background-color: #222 !important;
}
[data-theme=dark] pre {
  color: #bebebe;
}
[data-theme=dark] img.icon,
[data-theme=dark] svg.icon {
  filter: invert(1);
}
[data-theme=dark] .table {
  color: #bebebe;
}
[data-theme=dark] .table-hover tbody tr:hover {
  color: #bebebe;
}
[data-theme=dark] .dropdown-menu {
  background-color: #171717;
  border-color: #404040;
}
[data-theme=dark] .dropdown-item:not(:disabled):not(.disabled) {
  color: #bebebe;
}
[data-theme=dark] .dropdown-item:focus,
[data-theme=dark] .dropdown-item:hover {
  background-color: #242424;
}
[data-theme=dark] .dropdown-divider {
  border-top-color: #404040;
}
[data-theme=dark] .jumbotron {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}
[data-theme=dark] .card {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}
[data-theme=dark] .card-header,
[data-theme=dark] .card-footer {
  color: #bebebe;
  background-color: #202020;
  border-top-color: #404040;
  border-bottom-color: #404040;
}
[data-theme=dark] .form-control {
  color: #bebebe;
  background-color: #171717;
  border-color: #404040;
}
[data-theme=dark] .custom-select {
  color: #bebebe;
  background-color: #171717;
  border-color: #404040;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
}
[data-theme=dark] .input-group-text {
  color: #bebebe;
  background-color: #202020;
  border-color: #404040;
}
[data-theme=dark] .page-item .page-link {
  border-color: #404040;
}
[data-theme=dark] .page-item.disabled .page-link {
  background-color: #171717;
  color: #bebebe;
}
[data-theme=dark] .page-item:not(.active) .page-link {
  background-color: #171717;
}
[data-theme=dark] .page-item:not(.active) .page-link:hover {
  background-color: #242424;
}
[data-theme=dark] .breadcrumb {
  background-color: #171717;
  border-color: #404040;
}
[data-theme=dark] .nav-tabs {
  border-bottom-color: #404040;
}
[data-theme=dark] .nav-tabs .nav-link:focus,
[data-theme=dark] .nav-tabs .nav-link:hover {
  background-color: #242424;
  border-color: #404040;
}
[data-theme=dark] .nav-tabs .nav-item.show .nav-link,
[data-theme=dark] .nav-tabs .nav-link.active {
  color: #bebebe;
  background-color: #222;
  border-color: #404040;
  border-bottom-color: #222;
}
[data-theme=dark] .nav-tabs.card-header-tabs .nav-item.show .nav-link,
[data-theme=dark] .nav-tabs.card-header-tabs .nav-link.active {
  background-color: #181818;
  border-bottom-color: #181818;
}
[data-theme=dark] .popover {
  background-color: #181818;
  border-color: #404040;
}
[data-theme=dark] .popover-body {
  color: #bebebe;
}
[data-theme=dark] .popover-header {
  background-color: #202020;
  border-bottom-color: #404040;
}
[data-theme=dark] .bs-popover-top > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^=top] > .arrow::before {
  border-top-color: #404040;
}
[data-theme=dark] .bs-popover-top > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^=top] > .arrow::after {
  border-top-color: #181818;
}
[data-theme=dark] .bs-popover-right > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^=right] > .arrow::before {
  border-right-color: #404040;
}
[data-theme=dark] .bs-popover-right > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^=right] > .arrow::after {
  border-right-color: #181818;
}
[data-theme=dark] .bs-popover-bottom > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^=bottom] > .arrow::before {
  border-bottom-color: #404040;
}
[data-theme=dark] .bs-popover-bottom > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^=bottom] > .arrow::after {
  border-bottom-color: #181818;
}
[data-theme=dark] .bs-popover-left > .arrow::before,
[data-theme=dark] .bs-popover-auto[x-placement^=left] > .arrow::before {
  border-left-color: #404040;
}
[data-theme=dark] .bs-popover-left > .arrow::after,
[data-theme=dark] .bs-popover-auto[x-placement^=left] > .arrow::after {
  border-left-color: #181818;
}
[data-theme=dark] .progress {
  background-color: #171717;
  border-color: #404040;
}
[data-theme=dark] .close {
  color: #bebebe;
  opacity: 1;
}
[data-theme=dark] .modal-header,
[data-theme=dark] .modal-footer {
  color: #bebebe;
  background-color: #202020;
  border-bottom-color: #404040;
  border-top-color: #404040;
}
[data-theme=dark] .modal-content {
  color: #bebebe;
  background-color: #181818;
  border-color: #404040;
}

/*# sourceMappingURL=darktheme.css.map */
