// =============== Variables ===============

// --------------- Defaults ---------------

$default-color: #bebebe;
$default-bg: #181818;
$default-header-bg: #202020;
$default-border: #404040;

// --------------- Customized ---------------

$color: $default-color;
$bg: #222;

$window-color: $default-color;
$window-bg: $default-bg;
$window-header-color: $default-color;
$window-header-bg: $default-header-bg;
$window-border: $default-border;

$card-color: $default-color;
$card-bg: $default-bg;
$card-header-color: $default-color;
$card-header-bg: $default-header-bg;
$card-border: $default-border;

$form-color: $default-color;
$form-placeholder-color: #666;
$form-bg: #171717;
$form-hover-bg: #242424;
$form-border: $default-border;

$form-addon-color: $default-color;
$form-addon-bg: $default-header-bg;

/* =============== Original Styling =============== */
/* from https://coliff.github.io/dark-mode-switch/dark-mode.css */

[data-theme="dark"] {
	background-color: $bg !important;
	color: $color;

	.bg-light {
		background-color: #333 !important;
	}

	.bg-white {
		background-color: #000 !important;
	}

	.bg-black {
		background-color: #eee !important;
	}
}

/* =============== Additional Styling =============== */

[data-theme="dark"] {
	// --------------- Typography ---------------

	pre {
		color: $color;
	}

	// --------------- Images ---------------

	img.icon,
	svg.icon {
		filter: invert(1);
	}

	// --------------- Tables ---------------

	.table {
		color: $color;
	}

	.table-hover tbody tr:hover {
		color: $color;
	}

	// --------------- Buttons ---------------

	.dropdown-menu {
		background-color: $form-bg;
		border-color: $form-border;
	}

	.dropdown-item:not(:disabled):not(.disabled) {
		color: $form-color;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: $form-hover-bg;
	}

	.dropdown-divider {
		border-top-color: $form-border;
	}

	// --------------- Jumbotron ---------------

	.jumbotron {
		color: $card-color;
		background-color: $card-bg;
		border-color: $card-border;
	}

	// --------------- Cards ---------------

	.card {
		color: $card-color;
		background-color: $card-bg;
		border-color: $card-border;
	}

	.card-header,
	.card-footer {
		color: $card-header-color;
		background-color: $card-header-bg;
		border-top-color: $card-border;
		border-bottom-color: $card-border;
	}

	// --------------- Forms ---------------

	.form-control {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
	}

	.custom-select {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
	}

	.input-group-text {
		color: $form-addon-color;
		background-color: $form-addon-bg;
		border-color: $form-border;
	}

	.page-item .page-link {
		border-color: $form-border;
	}

	.page-item.disabled .page-link {
		background-color: $form-bg;
		color: $form-color;
	}

	.page-item:not(.active) .page-link {
		background-color: $form-bg;
	}

	.page-item:not(.active) .page-link:hover {
		background-color: $form-hover-bg;
	}

	// --------------- Navs ---------------

	.breadcrumb {
		background-color: $form-bg;
		border-color: $form-border;
	}

	.nav-tabs {
		border-bottom-color: $form-border;

		.nav-link:focus,
		.nav-link:hover {
			background-color: $form-hover-bg;
			border-color: $form-border;
		}

		.nav-item.show .nav-link,
		.nav-link.active {
			color: $color;
			background-color: $bg;
			border-color: $form-border;
			border-bottom-color: $bg;
		}
	}

	.nav-tabs.card-header-tabs {
		.nav-item.show .nav-link,
		.nav-link.active {
			background-color: $card-bg;
			border-bottom-color: $card-bg;
		}
	}

	// --------------- Popovers ---------------

	.popover {
		background-color: $window-bg;
		border-color: $window-border;
	}

	.popover-body {
		color: $color;
	}

	.popover-header {
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
	}

	@each $pos in (top, right, bottom, left) {
		.bs-popover-#{$pos},
		.bs-popover-auto[x-placement^="#{$pos}"] {
			& > .arrow::before {
				border-#{$pos}-color: $window-border;
			}
			& > .arrow::after {
				border-#{$pos}-color: $window-bg;
			}
		}
	}

	// --------------- Progress Bars --------------- */

	.progress {
		background-color: $form-bg;
		border-color: $form-border;
	}

	// --------------- Modals ---------------

	.close {
		color: $color;
		opacity: 1;
	}

	.modal-header,
	.modal-footer {
		color: $window-header-color;
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
		border-top-color: $window-border;
	}

	.modal-content {
		color: $window-color;
		background-color: $window-bg;
		border-color: $card-border;
	}
}
