// =============== Variables ===============

$color: #eee;
$bg-color: #111;

$window-bg-color: #222;
$window-header-bg-color: #333;

$form-color: #ddd;
$form-bg-color: #222;
$form-hover-bg-color: #333;

$form-addon-color: #ccc;
$form-addon-bg-color: #333;

/* =============== Original Styling =============== */
/* from https://coliff.github.io/dark-mode-switch/dark-mode.css */

[data-theme="dark"] {
	background-color: $bg-color !important;
	color: $color;

	.bg-light {
		background-color: #333 !important;
	}

	.bg-white {
		background-color: #000 !important;
	}

	.bg-black {
		background-color: #eee !important;
	}
}

/* =============== Additional Styling =============== */

[data-theme="dark"] {
	// --------------- Typography ---------------

	pre {
		color: $color;
	}

	// --------------- Images ---------------

	img.icon,
	svg.icon {
		filter: invert(1);
	}

	// --------------- Tables ---------------

	.table {
		color: $color;
	}

	.table-hover tbody tr:hover {
		color: $color;
	}

	// --------------- Buttons ---------------

	.dropdown-menu {
		background-color: $form-bg-color;
	}

	.dropdown-item:not(:disabled):not(.disabled) {
		color: $form-color;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: $form-hover-bg-color;
	}

	// --------------- Jumbotron ---------------

	.jumbotron {
		background-color: $window-bg-color;
	}

	// --------------- Cards ---------------

	.card {
		background-color: $window-bg-color;
	}

	.card-header,
	.card-footer {
		background-color: $window-header-bg-color;
	}

	// --------------- Forms ---------------

	.form-control {
		color: $form-color;
		background-color: $form-bg-color;
	}

	.custom-select {
		color: $form-color;
		background-color: $form-bg-color;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
	}

	.input-group-text {
		color: $form-addon-color;
		background-color: $form-addon-bg-color;
	}

	.page-item.disabled .page-link {
		background-color: $form-bg-color;
		color: $form-color;
	}

	.page-item:not(.active) .page-link {
		background-color: $form-bg-color;
	}

	.page-item:not(.active) .page-link:hover {
		background-color: $form-hover-bg-color;
	}

	// --------------- Navs ---------------

	.breadcrumb {
		background-color: $form-bg-color;
	}

	.nav-link.active {
		color: $form-color;
		background-color: $form-bg-color;
	}

	// --------------- Popovers ---------------

	.popover {
		background-color: $window-bg-color;
	}

	.popover-body {
		color: $color;
	}

	.popover-header, .popover-footer {
		background-color: $window-header-bg-color;
	}

	@each $pos in (top, right, bottom, left) {
		.bs-popover-#{$pos} > .arrow::after, .bs-popover-auto[x-placement^="#{$pos}"] > .arrow::after {
			border-#{$pos}-color: $window-bg-color;
		}
	}

	// --------------- Progress Bars --------------- */

	.progress {
		background-color: $form-hover-bg-color;
	}

	// --------------- Modals ---------------

	.close {
		color: $color;
		opacity: 1;
	}

	.modal-content {
		background-color: $window-bg-color;
	}
}
