// =============== Variables ===============

// --------------- Defaults ---------------

$default-color: #bebebe;
$default-bg: #222;
$default-dark-bg: #181818;
$default-header-bg: #202020;
$default-border: #404040;

$item-color: (
		"primary": #b8daff,
		"secondary": #d6d8db,
		"success": #c3e6cb,
		"danger": #f5c6cb,
		"warning": #ffeeba,
		"info": #bee5eb,
		"light": #fdfdfe,
		"dark": #c6c8ca,
);

$item-bg: (
		"primary": #004085,
		"secondary": #383d41,
		"success": #155724,
		"danger": #721c24,
		"warning": #856404,
		"info": #0c5460,
		"light": #818182,
		"dark": #1b1e21,
);

$color-lighten: 10;

// --------------- Customized ---------------

$color: $default-color;
$bg: $default-bg;

$window-color: $default-color;
$window-bg: $default-bg;
$window-header-color: $default-color;
$window-header-bg: $default-header-bg;
$window-border: $default-border;

$card-color: $default-color;
$card-bg: $default-dark-bg;
$card-header-color: $default-color;
$card-header-bg: $default-header-bg;
$card-hover-bg: $default-bg;
$card-border: $default-border;

$form-color: $default-color;
$form-placeholder-color: #666;
$form-bg: #171717;
$form-hover-bg: #242424;
$form-border: $default-border;

$form-addon-color: $default-color;
$form-addon-bg: $default-header-bg;

[data-theme="dark"] {
	color: $color;
	background-color: $bg;

	// --------------- Typography ---------------

	pre {
		color: $color;
	}

	// --------------- Images ---------------

	img.icon,
	svg.icon {
		filter: invert(1);
	}

	// --------------- Tables ---------------

	.table {
		color: $color;
	}

	.table-hover tbody tr:hover {
		color: $color;
	}

	// --------------- List Groups ---------------

	.list-group-item {
		color: $card-color;
		background-color: $card-bg;
		border-color: $card-border;

		&.list-group-item-action:focus,
		&.list-group-item-action:hover {
			background-color: $card-hover-bg;
		}
	}

	.list-group-item.active {
		&, &:focus, &:hover {
			// TODO don't hardcode these (taken from Bootstrap's .list-group-item.active)
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
		}
	}

	@each $name in map_keys($item-color) {
		.list-group-item-#{$name} {
			color: map_get($item-color, $name);
			background-color: map_get($item-bg, $name);

			&.list-group-item-action:focus,
			&.list-group-item-action:hover {
				color: map_get($item-color, $name);
				background-color: lighten(map_get($item-bg, $name), $color-lighten);
			}
		}
	}

	// --------------- Buttons ---------------

	.dropdown-menu {
		background-color: $form-bg;
		border-color: $form-border;
	}

	.dropdown-item:not(:disabled):not(.disabled) {
		color: $form-color;
	}

	.dropdown-item:focus,
	.dropdown-item:hover {
		background-color: $form-hover-bg;
	}

	.dropdown-divider {
		border-top-color: $form-border;
	}

	// --------------- Jumbotron ---------------

	.jumbotron {
		color: $card-color;
		background-color: $card-bg;
		border-color: $card-border;
	}

	// --------------- Cards ---------------

	.card {
		color: $card-color;
		background-color: $card-bg;
		border-color: $card-border;
	}

	.card-header,
	.card-footer {
		color: $card-header-color;
		background-color: $card-header-bg;
		border-top-color: $card-border;
		border-bottom-color: $card-border;
	}

	// --------------- Forms ---------------

	.form-control {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
	}

	.form-control-plaintext {
		color: $form-color;
	}

	.custom-select {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
	}

	.input-group-text {
		color: $form-addon-color;
		background-color: $form-addon-bg;
		border-color: $form-border;
	}

	.page-item .page-link {
		border-color: $form-border;
	}

	.page-item.disabled .page-link {
		background-color: $form-bg;
		color: $form-color;
	}

	.page-item:not(.active) .page-link {
		background-color: $form-bg;
	}

	.page-item:not(.active) .page-link:hover {
		background-color: $form-hover-bg;
	}

	// --------------- Navs ---------------

	.breadcrumb {
		background-color: $form-bg;
		border-color: $form-border;
	}

	.nav-tabs {
		border-bottom-color: $form-border;

		.nav-link:focus,
		.nav-link:hover {
			background-color: $form-hover-bg;
			border-color: $form-border;
		}

		.nav-item.show .nav-link,
		.nav-link.active {
			color: $color;
			background-color: $bg;
			border-color: $form-border;
			border-bottom-color: $bg;
		}
	}

	.nav-tabs.card-header-tabs {
		.nav-item.show .nav-link,
		.nav-link.active {
			background-color: $card-bg;
			border-bottom-color: $card-bg;
		}
	}

	// --------------- Popovers ---------------

	.popover {
		background-color: $window-bg;
		border-color: $window-border;
	}

	.popover-body {
		color: $color;
	}

	.popover-header {
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
	}

	@each $pos in (top, right, bottom, left) {
		.bs-popover-#{$pos},
		.bs-popover-auto[x-placement^="#{$pos}"] {
			& > .arrow::before {
				border-#{$pos}-color: $window-border;
			}

			& > .arrow::after {
				border-#{$pos}-color: $window-bg;
			}
		}
	}

	// --------------- Progress Bars --------------- */

	.progress {
		background-color: $form-bg;
		border-color: $form-border;
	}

	// --------------- Modals ---------------

	.close {
		color: $color;
		opacity: 1;
	}

	.modal-header,
	.modal-footer {
		color: $window-header-color;
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
		border-top-color: $window-border;
	}

	.modal-content {
		color: $window-color;
		background-color: $window-bg;
		border-color: $card-border;
	}
}
