@mixin dark-alert {
	@each $state, $value in $theme-colors {
		$alert-background: shift-color($value, -$alert-bg-scale);
		$alert-border: shift-color($value, -$alert-border-scale);
		$alert-color: shift-color($value, -$alert-color-scale);
		@if (contrast-ratio($alert-background, $alert-color) < $min-contrast-ratio) {
			$alert-color: mix($value, color-contrast($alert-background), abs($alert-color-scale));
		}
		.alert-#{$state} {
			color: $alert-color;
			@include gradient-bg($alert-background);
			border-color: $alert-border;

			.alert-link {
				color: tint-color($alert-color, 20%);
			}
		}
	}
}
