@mixin dark-badge-variant($bg) {
	color: color-yiq($bg);
	background-color: $bg;

	@at-root a#{&} {
		@include hover-focus() {
			color: color-yiq($bg);
			background-color: lighten($bg, 10%);
		}

		&:focus, &.focus {
			box-shadow: 0 0 0 $badge-focus-width rgba($bg, .5);
		}
	}
}

@mixin dark-badge {
	@each $color, $value in $theme-colors {
		.badge-#{$color} {
			@include dark-badge-variant($value);
		}
	}
}
