@mixin dark-buttons {
	.btn {
		color: $dark-body-color;

		&:hover {
			color: $dark-body-color;
		}
	}

	.btn-link {
		color: $dark-link-color;

		&:hover {
			color: $dark-link-hover-color;
		}

		&:disabled, &.disabled {
			color: $dark-btn-link-disabled-color;
		}
	}

	@each $color, $value in $theme-colors {
		.btn-#{$color} {
			@include button-variant($value, $value,
			$hover-background: lighten($value, 7.5%),
			$hover-border: lighten($value, 10%),
			$hover-color: color-contrast($value),
			$active-background: lighten($value, 10%),
			$active-border: lighten($value, 12.5%),
			$active-color: color-contrast($value),
			);
		}
	}

	@each $color, $value in $theme-colors {
		.btn-outline-#{$color} {
			@include button-outline-variant($value);
		}
	}
}
