@mixin dark-text {
	.text-body {
		color: $dark-body-color !important;
	}

	.text-dark-body {
		color: $body-color !important;
	}

	.text-muted {
		color: $dark-text-muted-color !important;
	}

	@each $color, $value in $theme-colors {
		.link-#{$color} {
			color: $value;

			@if $link-shade-percentage != 0 {
				&:hover, &:focus {
					color: tint-color($value, $link-shade-percentage);
				}
			}
		}
	}
}
