@mixin dark-text {
	.text-body {
		color: $dark-body-color !important;
	}

	.text-dark-body {
		color: $body-color !important;
	}

	@if $emphasized-link-hover-darken-percentage != 0 {
		@each $color, $value in $theme-colors {
			a.text-#{$color} {
				@include hover-focus() {
					color: lighten($value, $emphasized-link-hover-darken-percentage) !important;
				}
			}
		}
	}
}
