// --------------- Defaults ---------------

$gray-950: #101214 !default;

$dark-body-bg: $gray-950 !default;
$dark-body-color: $gray-100 !default;
$dark-border-color: $gray-700 !default;
$dark-headings-color: null !default;

$dark-link-color: $primary !default;
$dark-link-hover-color: lighten($link-color, 15%) !default;

$dark-text-muted-color: $gray-600 !default;

$dark-component-active-color: $white !default;
$dark-component-active-bg: $primary !default;

// --------------- Customized ---------------

$dark-btn-link-disabled-color: $gray-600 !default;

$dark-breadcrumb-bg: null !default;
$dark-breadcrumb-divider-color: $gray-400 !default;
$dark-breadcrumb-active-color: $gray-400 !default;

$dark-close-color: $white !default;
$dark-close-text-shadow: 0 1px 0 $black !default;

$dark-card-color: null !default;
$dark-card-bg: $dark-body-bg !default;
$dark-card-border-color: rgba($white, .125) !default;
$dark-card-cap-color: null !default;
$dark-card-cap-bg: rgba($white, .03) !default;

$dark-dropdown-color: $body-color !default;
$dark-dropdown-bg: $dark-body-bg !default;
$dark-dropdown-border-color: rgba($white, .15) !default;
$dark-dropdown-divider-bg: $dark-dropdown-border-color !default;
$dark-dropdown-link-color: $gray-100 !default;
$dark-dropdown-link-hover-color: darken($gray-100, 5%) !default;
$dark-dropdown-link-hover-bg: $gray-800 !default;
$dark-dropdown-link-active-color: $component-active-color !default;
$dark-dropdown-link-active-bg: $component-active-bg !default;
$dark-dropdown-link-disabled-color: $gray-500 !default;
$dark-dropdown-header-color: $gray-400 !default;

$dark-input-btn-focus-color: rgba($dark-component-active-bg, $input-btn-focus-color-opacity) !default;
$dark-input-bg: $dark-body-bg !default;
$dark-input-disabled-bg: $gray-800 !default;
$dark-input-disabled-border-color: null !default;
$dark-input-color: $gray-300 !default;
$dark-input-border-color: $gray-600 !default;
$dark-input-focus-bg: $dark-input-bg !default;
$dark-input-focus-border-color: lighten($dark-component-active-bg, 25%) !default;
$dark-input-focus-color: $dark-input-color !default;
$dark-input-placeholder-color: $gray-400 !default;
$dark-input-plaintext-color: $dark-body-color !default;

$dark-input-group-addon-color: $dark-input-color !default;
$dark-input-group-addon-bg: $gray-800 !default;
$dark-input-group-addon-border-color: $dark-input-border-color !default;

$dark-form-file-button-color: $dark-input-color !default;
$dark-form-file-button-bg: $dark-input-group-addon-bg !default;
$dark-form-file-button-hover-bg: tint-color($dark-form-file-button-bg, 5%) !default;

$dark-form-check-label-color: null !default;
$dark-form-check-input-active-filter: brightness(-90%) !default;
$dark-form-check-input-bg: $dark-input-bg !default;
$dark-form-check-input-border-color: rgba($white, .25) !default;
$dark-form-check-input-focus-border-color: $dark-input-focus-border-color !default;
$dark-form-check-input-checked-color: $dark-component-active-color !default;
$dark-form-check-input-checked-bg-color: $dark-component-active-bg !default;
$dark-form-check-input-checked-border-color: $dark-form-check-input-checked-bg-color !default;
$dark-form-check-input-indeterminate-color: $dark-component-active-color !default;
$dark-form-check-input-indeterminate-bg-color: $dark-component-active-bg !default;
$dark-form-check-input-indeterminate-border-color: $dark-form-check-input-indeterminate-bg-color !default;

$dark-form-select-color: $dark-input-color !default;
$dark-form-select-bg: $dark-input-bg !default;
$dark-form-select-disabled-color: null !default;
$dark-form-select-disabled-bg: $gray-800 !default;
$dark-form-select-disabled-border-color: $dark-input-disabled-border-color !default;
$dark-form-select-indicator-color: $gray-200 !default;
$dark-form-select-border-color: $dark-input-border-color !default;
$dark-form-select-focus-border-color: $dark-input-focus-border-color !default;
$dark-form-select-focus-box-shadow: 0 0 0 $form-select-focus-width $input-btn-focus-color !default;

$dark-form-range-track-bg: $gray-700 !default;
$dark-form-range-thumb-bg: $dark-component-active-bg !default;
$dark-form-range-thumb-border-color: null !default;
$dark-form-range-thumb-active-bg: shade-color($dark-component-active-bg, 70%) !default;
$dark-form-range-thumb-disabled-bg: $gray-500 !default;

$dark-form-label-color: null !default;
$dark-form-text-color: $dark-text-muted-color !default;

$dark-accordion-color: $dark-body-color !default;
$dark-accordion-bg: $dark-body-bg !default;
$dark-accordion-border-color: rgba($white, .125) !default;
$dark-accordion-button-color: $dark-accordion-color !default;
$dark-accordion-button-bg: $dark-accordion-bg !default;
$dark-accordion-button-active-bg: shade-color($dark-component-active-bg, 90%) !default;
$dark-accordion-button-active-color: tint-color($primary, 10%) !default;
$dark-accordion-button-focus-border-color: $dark-input-focus-border-color !default;
$dark-accordion-icon-color: $dark-accordion-button-color !default;
$dark-accordion-icon-active-color: $dark-accordion-button-active-color !default;

$dark-jumbotron-color: null !default;
$dark-jumbotron-bg: $gray-800 !default;

$dark-list-group-color: $dark-body-color !default;
$dark-list-group-bg: $dark-body-bg !default;
$dark-list-group-border-color: rgba($white, .125) !default;
$dark-list-group-hover-bg: $gray-900 !default;
$dark-list-group-active-color: $component-active-color !default;
$dark-list-group-active-bg: $component-active-bg !default;
$dark-list-group-active-border-color: $dark-list-group-active-bg !default;
$dark-list-group-disabled-color: $gray-400 !default;
$dark-list-group-disabled-bg: $dark-list-group-bg !default;
$dark-list-group-action-color: $gray-300 !default;
$dark-list-group-action-hover-color: $dark-list-group-action-color !default;
$dark-list-group-action-active-color: $dark-body-color !default;
$dark-list-group-action-active-bg: $gray-800 !default;

$dark-list-group-color-level: -10 !default;
$dark-list-group-bg-level: 8 !default;

$dark-modal-content-color: null !default;
$dark-modal-content-bg: $dark-body-bg !default;
$dark-modal-content-border-color: rgba($white, .2) !default;
$dark-modal-backdrop-bg: $black !default;
$dark-modal-header-border-color: $dark-border-color !default;
$dark-modal-footer-border-color: $dark-modal-header-border-color !default;

$dark-nav-link-disabled-color: $gray-400 !default;
$dark-nav-tabs-border-color: $gray-700 !default;
$dark-nav-link-hover-color: $dark-link-hover-color !default;
$dark-nav-tabs-link-hover-border-color: $gray-800 $gray-800 $dark-nav-tabs-border-color !default;
$dark-nav-tabs-link-active-color: $gray-300 !default;
$dark-nav-tabs-link-active-bg: $dark-body-bg !default;
$dark-nav-tabs-link-active-border-color: $gray-700 $gray-700 $dark-nav-tabs-link-active-bg !default;
$dark-nav-pills-link-active-color: $dark-component-active-color !default;
$dark-nav-pills-link-active-bg: $dark-component-active-bg !default;
$dark-nav-divider-color: $gray-800 !default;

$dark-pagination-color: $dark-link-color !default;
$dark-pagination-bg: $dark-body-bg !default;
$dark-pagination-border-color: $gray-700 !default;
$dark-pagination-hover-color: $dark-link-hover-color !default;
$dark-pagination-hover-bg: $gray-800 !default;
$dark-pagination-hover-border-color: $gray-700 !default;
$dark-pagination-active-color: $dark-component-active-color !default;
$dark-pagination-active-bg: $dark-component-active-bg !default;
$dark-pagination-active-border-color: $dark-pagination-active-bg !default;
$dark-pagination-disabled-color: $gray-400 !default;
$dark-pagination-disabled-bg: $gray-900 !default;
$dark-pagination-disabled-border-color: $gray-700 !default;

$dark-popover-bg: $dark-body-bg !default;
$dark-popover-border-color: rgba($white, .2) !default;
$dark-popover-header-bg: lighten($dark-popover-bg, 3%) !default;
$dark-popover-header-color: $dark-headings-color !default;
$dark-popover-header-border-color: lighten($dark-popover-header-bg, 5%) !default;
$dark-popover-body-color: $dark-body-color !default;
$dark-popover-arrow-color: $dark-popover-bg !default;
$dark-popover-arrow-outer-color: fade-in($dark-popover-border-color, .05) !default;

$dark-progress-bg: $gray-800 !default;
$dark-progress-bar-color: null !default;
$dark-progress-bar-bg: $primary !default;

$dark-table-color: $dark-body-color !default;
$dark-table-bg: transparent !default;
$dark-table-accent-bg: transparent !default;
$dark-table-striped-color: $dark-table-color !default;
$dark-table-striped-bg-factor: .05 !default;
$dark-table-striped-bg: rgba($white, $dark-table-striped-bg-factor) !default;
$dark-table-active-color: $dark-table-color !default;
$dark-table-active-bg-factor: .1 !default;
$dark-table-active-bg: rgba($white, $dark-table-active-bg-factor) !default;
$dark-table-hover-color: $dark-table-color !default;
$dark-table-hover-bg-factor: .075 !default;
$dark-table-hover-bg: rgba($white, $dark-table-hover-bg-factor) !default;
$dark-table-border-factor: .1 !default;
$dark-table-border-color: $dark-border-color !default;
$dark-table-group-separator-color: currentColor !default;
$dark-table-caption-color: $dark-text-muted-color !default;
$dark-table-bg-scale: 80% !default;
$dark-table-variants: (
		"primary": shift-color($primary, $dark-table-bg-scale),
		"secondary": shift-color($secondary, $dark-table-bg-scale),
		"success": shift-color($success, $dark-table-bg-scale),
		"info": shift-color($info, $dark-table-bg-scale),
		"warning": shift-color($warning, $dark-table-bg-scale),
		"danger": shift-color($danger, $dark-table-bg-scale),
		"light": $light,
		"dark": $dark,
) !default;
