@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "scss/variables";
@import "scss/alert";
@import "scss/borders";
@import "scss/breadcrumb";
@import "scss/buttons";
@import "scss/card";
@import "scss/close";
@import "scss/dropdown";
@import "scss/forms";
@import "scss/input-groups";
@import "scss/jumbotron";
@import "scss/list-group";
@import "scss/modal";
@import "scss/nav";
@import "scss/pagination";
@import "scss/popover";
@import "scss/progress";
@import "scss/reboot";
@import "scss/tables";
@import "scss/text";

@mixin darkmode {
	color: $dark-body-color;
	background-color: $dark-body-bg;

	.bg-darkmode-dark {
		background-color: $dark !important
	}

	.bg-darkmode-light {
		background-color: $light !important;
	}

	.bg-darkmode-black {
		background-color: $black !important;
	}

	// --------------- Typography ---------------

	pre {
		color: $dark-body-color;
	}

	hr {
		border-top-color: $dark-border-color;
	}

	// --------------- Images ---------------

	img.icon,
	svg.icon {
		filter: invert(1);
	}

	@include dark-alert;
	@include dark-borders;
	@include dark-breadcrumb;
	@include dark-buttons;
	@include dark-card;
	@include dark-close;
	@include dark-dropdown;
	@include dark-forms;
	@include dark-input-groups;
	@include dark-jumbotron;
	@include dark-list-group;
	@include dark-modal;
	@include dark-nav;
	@include dark-pagination;
	@include dark-popover;
	@include dark-progress;
	@include dark-reboot;
	@include dark-table;
	@include dark-text;
}

@media (prefers-color-scheme: dark) {
	[data-theme=auto] {
		@include darkmode;
	}
}

[data-theme=dark] {
	@include darkmode;
}
