@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "scss/variables";
@import "scss/alert";
@import "scss/card";
@import "scss/dropdown";
@import "scss/jumbotron";
@import "scss/list-group";
@import "scss/tables";

@mixin darkmode {
	color: $color;
	background-color: $bg;

	.bg-darkmode-dark {
		background-color: #343a40 !important
	}

	.bg-darkmode-light {
		background-color: #f8f9fa !important;
	}

	.bg-darkmode-black {
		background-color: $bg !important;
	}

	// --------------- Typography ---------------

	pre {
		color: $color;
	}

	hr {
		border-top-color: $default-border;
	}

	// --------------- Images ---------------

	img.icon,
	svg.icon {
		filter: invert(1);
	}

	@include dark-alert;
	@include dark-card;
	@include dark-dropdown;
	@include dark-jumbotron;
	@include dark-list-group;
	@include dark-table;

	// --------------- Forms ---------------

	.form-control {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
	}

	.form-control-plaintext {
		color: $form-color;
	}

	.custom-select {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
	}

	.custom-file-label {
		color: $form-color;
		background-color: $form-bg;
		border-color: $form-border;

		&:after {
			color: $form-addon-color;
			background-color: $form-addon-bg;
		}
	}

	.input-group-text {
		color: $form-addon-color;
		background-color: $form-addon-bg;
		border-color: $form-border;
	}

	.page-item .page-link {
		border-color: $form-border;
	}

	.page-item.disabled .page-link {
		background-color: $form-bg;
		color: $form-color;
	}

	.page-item:not(.active) .page-link {
		background-color: $form-bg;
	}

	.page-item:not(.active) .page-link:hover {
		background-color: $form-hover-bg;
	}

	// --------------- Navs ---------------

	.breadcrumb {
		background-color: $form-bg;
		border-color: $form-border;
	}

	.nav-tabs {
		border-bottom-color: $form-border;

		.nav-link:focus,
		.nav-link:hover {
			background-color: $form-hover-bg;
			border-color: $form-border;
		}

		.nav-item.show .nav-link,
		.nav-link.active {
			color: $color;
			background-color: $bg;
			border-color: $form-border;
			border-bottom-color: $bg;
		}
	}

	.nav-tabs.card-header-tabs {
		.nav-item.show .nav-link,
		.nav-link.active {
			background-color: $card-bg;
			border-bottom-color: $card-bg;
		}
	}

	// --------------- Popovers ---------------

	.popover {
		background-color: $window-bg;
		border-color: $window-border;
	}

	.popover-body {
		color: $color;
	}

	.popover-header {
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
	}

	@each $pos in (top, right, bottom, left) {
		.bs-popover-#{$pos},
		.bs-popover-auto[x-placement^="#{$pos}"] {
			& > .arrow::before {
				border-#{$pos}-color: $window-border;
			}

			& > .arrow::after {
				border-#{$pos}-color: $window-bg;
			}
		}
	}

	// --------------- Progress Bars --------------- */

	.progress {
		background-color: $form-bg;
		border-color: $form-border;
	}

	// --------------- Modals ---------------

	.close {
		color: $color;
		opacity: 1;
	}

	.modal-header,
	.modal-footer {
		color: $window-header-color;
		background-color: $window-header-bg;
		border-bottom-color: $window-border;
		border-top-color: $window-border;
	}

	.modal-content {
		color: $window-color;
		background-color: $window-bg;
		border-color: $card-border;
	}

	// --------------- Borders ---------------

	.border { border-color: $default-border; }
	.border-top { border-top-color: $default-border; }
	.border-right { border-right-color: $default-border; }
	.border-bottom { border-bottom-color: $default-border; }
	.border-left { border-left-color: $default-border; }
}

@media (prefers-color-scheme: dark) {
	[data-theme=auto] {
		@include darkmode;
	}
}

[data-theme=dark] {
	@include darkmode;
}
